<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %} 
    <!-- Bootstrap CSS -->
    {% comment %} <link rel="stylesheet" href="{% static '../../../../static/css/bootstrap.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% comment %} <script src="{% static '../../../../static/js/jquery.slim.min.js' %}"></script>
    <script src="{% static '../../../../static/js/popper.min.js' %}"></script>
    <script src="{% static '../../../../static/js/bootstrap.min.js' %}"></script> {% endcomment %}

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
